/**
 * Grid Blocks
 * =============
 */

// Utility Blocks
// ---------------

.u-block {
	padding: 30px $spacing-25;
	// padding: $spacing-25;

	@include media('>s') {
		padding: 60px $spacing-30;
		// padding: $spacing-40 $spacing-30;
	}
}

.u-block--white {
	background-color: white;
}

.u-block--grey {
	background-color: $grey-white;
}

.u-block--black {
	background-color: $black;
	color: white;
}

.u-block--blue {
	background-color: $blue;
}

.u-block--orange {
	background-color: $orange;
}

.u-block--fadeout {
	background-image: linear-gradient(to bottom, $grey-white, white 120px);
}

.u-block--fadein {
	background-image: linear-gradient(to top, $grey-white, white 120px);
}

// Block Spacing
// ---------------

.u-block--white:not(.u-block--full) + .u-block--white,
.u-block--grey:not(.u-block--full) + .u-block--grey,
.u-block--black:not(.u-block--full) + .u-block--black,
.u-block--blue:not(.u-block--full) + .u-block--blue,
.u-block--orange:not(.u-block--full) + .u-block--orange,
.u-block--fadeout:not(.u-block--full) + .u-block--white {
	padding-top: 0;
}

// Utility Widths
// ---------------

.u-block--s > * {
	max-width: #{map-get($breakpoints, s)};
	margin: 0 auto;
}

.u-block--m > * {
	max-width: #{map-get($breakpoints, m)};
	margin: 0 auto;
}

.u-block--l > * {
	max-width: #{map-get($breakpoints, l)};
	margin: 0 auto;
}

.u-block--f {
	// max-width: 100%;
	padding: 0 !important;
}
