/**
 * Grid Blocks
 * =============
 */

// Base Block Style
// ---------------

// Base block spacing
.u-block {
	padding: $spacing-25;
	margin-left: -#{$spacing-25};
	margin-right: -#{$spacing-25};

	// Change base block spacing above small breakpoint
	@include media(">s") {
		padding-top: $spacing-40;
		padding-bottom: $spacing-40;
	}

	// Set max width of u-block children
	> * {
		max-width: #{map-get($breakpoints, s)};
		margin-left: auto;
		margin-right: auto;

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Add spacing to items that immediately follow a u-block if they are not wrapped in u-block
	& + *:not(.u-block) {
		margin-top: 0;
		padding-top: $spacing-25;
	}

	// Remove top spacing on first item, which is set in _typography.scss
	& > *:first-child {
		margin-top: 0;
	}
}

// Block Widths
// ---------------

.u-block--l > * {
	max-width: #{map-get($breakpoints, l)};
	margin: 0 auto;
}

.u-block--f {
	padding: 0 !important;
}

// Block Colors
// ---------------

.u-block--grey {
	background-color: $grey-lightest;
}

.u-block--black {
	background-color: $black;
	color: white;
}

.u-block--fadeout {
	background-image: linear-gradient(to bottom, $grey-lightest, white 120px);
}

.u-block--fadein {
	background-image: linear-gradient(to top, $grey-lightest, white 120px);
}

// Block Spacing
// ---------------

// Remove top padding when the same u-blocks follow each other
.u-block:not(.u-block--grey) + .u-block:not(.u-block--grey),
.u-block--grey:not(.u-block--full) + .u-block--grey,
.u-block--black:not(.u-block--full) + .u-block--black,
.u-block--fadeout:not(.u-block--full) + .u-block--white {
	padding-top: 0;
}

// Remove top padding between u-block and non u-block
.u-block:not(.u-block--grey) + *:not(.u-block),
*:not(.u-block) + .u-block:not(.u-block--grey) {
	padding-top: 0;
}
