/**
 * Grid Blocks
 * =============
 */

// Base Block Style
// ---------------

// Base block spacing
.u-block {
	padding: $spacing-25;
	margin-left: -#{$spacing-25};
	margin-right: -#{$spacing-25};

	// Change base block spacing above small breakpoint
	@include media(">s") {
		padding: $spacing-40 $spacing-30;
		margin-left: -#{$spacing-30};
		margin-right: -#{$spacing-30};
	}

	// Constrain width of children
	> * {
		max-width: #{map-get($breakpoints, s)};
		// margin: 0 auto;
		margin-left: auto;
		margin-right: auto;
	}

	// Add spacing to following items if they are not u-block
	& + :not(.u-block) {
		padding-top: $spacing-25;

		@include media(">s") {
			padding-top: $spacing-30;
		}
	}
}

// Block Widths
// ---------------

.u-block--l > * {
	max-width: #{map-get($breakpoints, l)};
	margin: 0 auto;
}

.u-block--f {
	padding: 0 !important;
}

// Block Colors
// ---------------

.u-block--grey {
	background-color: $grey-lightest;
}

.u-block--black {
	background-color: $black;
	color: white;
}

.u-block--fadeout {
	background-image: linear-gradient(to bottom, $grey-lightest, white 120px);
}

.u-block--fadein {
	background-image: linear-gradient(to top, $grey-lightest, white 120px);
}

// Block Spacing
// ---------------

// Remove top padding when the same u-blocks follow each other
.u-block:not(.u-block--grey) + .u-block:not(.u-block--grey),
.u-block--grey:not(.u-block--full) + .u-block--grey,
.u-block--black:not(.u-block--full) + .u-block--black,
.u-block--fadeout:not(.u-block--full) + .u-block--white {
	padding-top: 0;
}

// Remove top padding between u-block and non u-block
.u-block:not(.u-block--grey) + *:not(.u-block),
*:not(.u-block) + .u-block:not(.u-block--grey) {
	padding-top: 0;
}
