/**
 * CSS Grid & Grid Items
 * =============
 */

.u-grid {
	display: grid;
	grid-gap: $spacing-25;

	@include media(">s") {
		grid-gap: $grid-gutter;
	}
}

.u-grid + .u-grid {
	padding-top: $spacing-25;
}

.u-grid--2 {
	grid-template-columns: repeat(2, 1fr);
}

.u-grid--3 {
	grid-template-columns: repeat(2, 1fr);

	@include media(">s") {
		grid-template-columns: repeat(3, 1fr);
	}
}

.u-grid--4 {
	grid-template-columns: repeat(2, 1fr);

	@include media(">s") {
		grid-template-columns: repeat(4, 1fr);
	}
}

/**
 * CSS Grid Modifiers
 * =============
 */

@include media("<=s") {
	.u-grid--stack {
		grid-template-columns: repeat(1, 1fr);
	}
}

.u-grid--tight {
	grid-gap: 5px;

	@include media(">s") {
		grid-gap: 5px;
	}
}

.u-grid--flush {
	grid-gap: 0;
}

/**
 * CSS Grid IE11 Fallbacks
 * =============
 */

// TODO: look into @support grid
@media screen and (-ms-high-contrast: active),
	screen and (-ms-high-contrast: none) {
	.u-grid {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -#{$spacing-25} !important;
		// margin-bottom: -#{$grid-gutter} !important;

		& + .c-button {
			margin-top: 50px !important;
		}

		& > * {
			margin-bottom: $spacing-25;

			@include media(">s") {
				margin-bottom: $grid-gutter;
				// grid-gap: $grid-gutter;
			}

			&:not(:last-child) {
				margin-right: $grid-gutter;
			}
		}
	}

	.u-grid--2 > * {
		width: calc(50% - #{$grid-gutter - 10});

		&:nth-child(2n) {
			margin-right: 0 !important;
		}
	}

	.u-grid--3 > * {
		width: calc(33.333333% - #{$grid-gutter - 6.5});

		&:nth-child(3n) {
			margin-right: 0 !important;
		}
	}

	.u-grid--4 > * {
		width: calc(25% - #{$grid-gutter - 5});

		&:nth-child(4n) {
			margin-right: 0 !important;
		}
	}
}
