/**
 * Single Column
 * =============
 */

.l-singlecol {
	padding: 0 $spacing-25;

	@include media(">s") {
		padding: 0 $spacing-30;
	}

	// Set width for basic markup
	& > *:not(.u-block) {
		max-width: #{map-get($breakpoints, s)};
		margin: 0 auto;

		// Add spacing on first child of basic markup
		&:first-child {
			padding-top: $spacing-25;

			@include media(">s") {
				padding-top: $spacing-30;
			}
		}
	}
}
