/**
 * Utility Classes
 * =============
 */

// Clearfix
// ---------------

// main {
// 	padding: 0 25px;
// 	margin-bottom: 30px;

// 	@include media(">s") {
// 		padding: 0 30px;
// 		margin-bottom: 50px;
// 	}
// }

// main > *:not(.u-block) {
// 	max-width: #{map-get($breakpoints, s)};
// 	margin-left: auto;
// 	margin-right: auto;
// }

// Visually Hide
// ---------------

.u-visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);

	a:focus,
	input:focus,
	button:focus {
		position: static;
		width: auto;
		height: auto;
	}
}

// Video Styles
// ---------------

.c-video,
.wp-block-embed__wrapper {
	position: relative;
	height: 0;
	margin-bottom: 25px;
	padding-bottom: 56.25%;
	overflow: hidden;

	iframe,
	object,
	embed,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
