/**
 * Single Column
 * =============
 */

main {
	padding: 0 $spacing-25;

	@include media(">s") {
		padding: 0 $spacing-30;
	}

	// Set width for basic markup
	& > *:not(.u-block) {
		max-width: #{map-get($breakpoints, s)};
		margin-left: auto;
		margin-right: auto;

		// Add spacing on first child of basic markup
		&:first-child {
			padding-top: $spacing-25;

			@include media(">s") {
				padding-top: $spacing-30;
			}
		}

		// Add spacing on last child of basic markup
		&:last-child {
			padding-bottom: $spacing-25;

			@include media(">s") {
				padding-bottom: $spacing-30;
			}
		}
	}
}
