/**
 * Defaults Styles
 * =============
 */

// * {
// 	margin: 0;
// 	padding: 0;
// }

// HTML / Body
// -----------------------------

/*
html,
body {
	width: 100%;
	min-height: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
	border-radius: 10px; // stops ios safari from growing text
}

html {
	scroll-behavior: smooth; // you've been hit by a... smooth criminal
}
*/

body {
    color: $grey-darkest;
    font-family: $font-body;
    margin-top: $nav-height;
}

main,
video,
audio,
time,
cite {
    display: block;
}

// Links / Buttons
// -----------------------------

a {
    color: $prime_one;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;

    // &:hover {
    // 	text-decoration: underline;
    // 	border-bottom: 1px solid;
    // }

    &:focus {
        outline: 0 none;
    }
}

button {
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: $spacing-25;
    }
}

/*
a:focus,
button:focus,
button:hover,
input[type='submit']:focus,
input[type='submit']:hover {
	text-decoration: none;
}

a[href^='tel:'] {
	color: teal;
	font-weight: 500;

	@include media('>=s') {
		background: none;
	}
	@include media('>s') {
		color: $prime_two;
		font-weight: 400;
	}
}
*/

// Headings
// -----------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-header;
    font-weight: 500;
    line-height: 1.2;
    color: $black;
    margin: 30px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;

    @include media(">s") {
        font-size: 42px;
    }
}

h2 {
    font-size: 32px;
    margin-bottom: $spacing-20;

    @include media(">s") {
        font-size: 36px;
    }
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;

    @include media(">s") {
        font-size: 28px;
    }
}

h4,
h5,
h6 {
    font-size: 20px;
    margin-bottom: 15px;

    @include media(">s") {
        font-size: 24px;
    }
}

// Content Styles
// -----------------------------

p,
ul,
ol {
    font-size: 16px;
    line-height: 1.5;
    color: $black;
    // margin: 20px 0;
    margin-bottom: $spacing-20;

    @include media(">s") {
        font-size: 18px;
    }
}

ul,
ol {
    list-style-type: disc;
    padding-left: $spacing-40;
    margin-left: $spacing-25;

    ul,
    ol {
        margin: 8px 0 0 0;
    }

    li:not(:last-child) {
        padding-bottom: 5px;
    }
}

ol {
    list-style-type: decimal;

    ol {
        list-style-type: lower-alpha;
    }
}

blockquote {
    font-weight: 300;
    font-style: italic;
    border-left: 4px solid $grey;
    margin-bottom: $spacing-20;
    padding: 20px $spacing-40;

    p {
        margin: 0;
    }

    cite {
        margin-top: 15px;
    }
}

img,
figure {
    display: block;
}

video {
    width: 100%;
    margin-bottom: $spacing-20;
}

/*
address {
	font-style: normal;
	font-size: $pixel16;
	line-height: 1.5;

	&:not(:last-child) {
		margin-bottom: $spacing-25;
	}
}
*/
