/**
 * Theme Specific Vars
 * =============
 // Add new vars, or override vars from /shared/scss/core/_vars.scss
 */

/**
 * Media Query Breakpoints
 * =============
 */

$breakpoints: (
	s: 768px,
	l: 1024px
);

/**
 * Grid Vars
 * =============
 */

$grid-gutter: 25px !default;

/**
 * Spacing
 * =============
 */

$spacing-25: 25px !default;
$spacing-30: 30px !default;
$spacing-40: 40px !default;
$spacing-50: 50px !default;
$spacing-60: 60px !default;

/**
 * Fonts
 * ============
 */

$font-body: -apple-system, "blinkmacsystemfont", "Segoe UI", "Roboto",
	"Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol";

$font-header: -apple-system, "blinkmacsystemfont", "Segoe UI", "Roboto",
	"Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol";

/**
 * Font Sizes
 * =============
 */

$pixel14: 14px;
$pixel16: 16px;
$pixel18: 18px;
$pixel24: 24px;
$pixel28: 28px;
$pixel32: 32px;
$pixel42: 42px;
$pixel48: 48px;
$pixel62: 62px;

/**
 * Colors
 * =============
 */

$black: #222222;

$grey-darkest: #4c4c4c;
$grey-darker: #838383;
$grey-dark: #a7a6a5;

$grey: #c9c9c9;

$grey-light: #dfdfdf;
$grey-lighter: #efefef;
$grey-lightest: #f3f3f3;

// TODO: search and replace these colours in base scss files
$primary_one: blue;
$primary_two: green;

/**
 * Transitions
 * ============
 */

$transition-2: all 0.2s ease-out;
$transition-5: all 0.5s ease-out;

/**
 * Theme Globals
 * =============
 */

$nav-height: 0;
