/**
 * WordPress Images
 * =============
 */

// Main Image Styles
// -----------------------------

.wp-block-image {
    margin-bottom: 25px;

    img {
        background-color: $grey-lightest;
        max-width: #{map-get($breakpoints, s)};
        margin-bottom: 0 !important;
    }
}

.wp-block-image img,
.wp-block-image .aligncenter {
    margin: 0 auto;
}

.wp-block-image .alignleft {
    float: left;
    margin: 0 30px 25px 0;
}

.wp-block-image .alignright {
    float: right;
    margin: 0 0 25px 30px;
}

// Image with Caption Styles
// -----------------------------

.wp-block-image figure,
figure.wp-block-image {
    display: table;
}

.wp-block-image figcaption {
    caption-side: bottom;
    display: table-caption;
    font-style: italic;
    font-size: $pixel14;
    color: $grey-darkest;
    line-height: 1.5;
    background-color: $grey-lightest;
    padding: 20px 25px;
    margin-top: 0;

    @include media(">s") {
        font-size: 15px;
        line-height: 1.6;
    }
}
